#chatter blockquote {
  margin: 0 0 1px 0;
  padding: 10px;
  border: none;
  background: #efffff; }

.pageBackground {
	background-image: url('/Content/www/res/Default@2x~iphone.png');
     background-position: center;
    background-repeat: no-repeat;
}