<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes"/>
    <title>Propinquity</title>
    <script type="text/javascript">
        var apiKey = '@Model.ApiKey';
    	var serverUrl = '@Model.ServerUrl';
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js"></script>
    <script src="/Content/js/crossCutting.js"></script>
    <script src="/Content/js/geo.js"></script>
    <script src="/Content/js/index.js"></script>
    <link rel="stylesheet" href="/Content/css/style.css" />
</head>
<body>
    <header>
        <img src="/Content/logo.png" alt="Propinquity logo" />
        <div id="out"></div>
    </header>
    <section>
        <div id="main">
            <div id="video-feeds">
                <div id="publisher"></div>
                <div id="subscribers"></div>
            </div>
            <div id="chat">
                <div id="entry">
                    <input type="text" name="message" />
                    <span><button id="send">send</button></span>
                </div>
                <ul id="messages"></ul>
            </div>
            <ul id="console"></ul>
            </div>   
        </div>
    </section>
</body>
</html>
