@import "bootstrap";

* {
    box-sizing: border-box; background: #efffff;
}

body {
	overflow-y: hidden;
}

header {
	position: relative;
    text-align: center;
    padding: 10px;
    #out { font-size: 0.8em; position: absolute; bottom: 0px; right: 10px; }
    img { width: 172px; margin: 0 auto; }
}

section {
    @extend .container-fluid;
    #main {
        @extend .row;
        #video-feeds {
            @extend .col-md-9;
            padding-bottom: 30px;
        }
        #chat {
            @extend .col-md-3;
				@media (max-width: 992px) {
clear: both;
				}
            & > div {
	            @extend .input-group;
				@media (max-width: 992px) {
						position: fixed;
				        bottom: 0px;
				        padding: 10px 20px 10px 0px;
				}
                input {
                    @extend .form-control;
                }
                span {
                    @extend .input-group-btn;
                    button {
                        @extend .btn;
                    }
                }
            }
            ul {
				border-top: #666 1px dashed;
				@media (max-width: 992px) {
					border:none;
				}
				margin: 20px 0;
				padding: 15px 0;
				list-style: none;
                li {
                    margin: 0px;
                    padding: 0px;
                    span { font-weight: bold; color: #ccc }
                    p { font-size: 1.4em}
                }
            }
        }
    }
}
